<!DOCTYPE html>
<html>
  <head>
    <title>Water Place</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
  </head>
  <body>
    <h1>Bienvenido</h1>
    <form action="/water-place" method="post">
      <label for="job">Lugar</label> 
      <div class="select">
        <select name="place" id="slct">
          <option selected disabled>Elija una opción</option>
          {% for p in provincias %}
            <option value={{ p.nombre }}>{{ p.nombre }}</option>
          {% endfor %}
        </select>
      </div>

      <label for="cropping">Cultivo</label> 
      <div class="select">
        <select name="cropping" id="slct">
          <option selected disabled>Elija una opción</option>
          {% for c in cultivos %}
            <option value={{ c }}>{{ c }}</option>
          {% endfor %}
        </select>
      </div>

      <label for="dateCroppin">Fecha de siembra</label>
      <input type="date" name="dateCroppin" id="dateCroppin">

      <label for="area">Area del cultivo</label>
      <div style="display: flex; justify-content: space-between;">
        <input type="number" name="area" id="area" style="width: 50%;">
        <input type="number" placeholder="metros cuadrados" name="distancePh" id="distancePh" disabled style="width: 45%;">
      </div>

      <label for="riego">Tipo de riego</label> 
      <div class="select">
        <select name="riego" id="slct">
          <option selected value='Aspersión'>Aspersión</option>
          <option value='Microaspersión'>Microaspersión</option>
        </select>
      </div>
      
      <button type="submit">Calcular</button>
    
    </form>
    
  </body>
</html>