<!DOCTYPE html>
<html>
  <head>
    <title>Water Place</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/login.css') }}">
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <form class="register-form" action="/signup" method="post">
          <input type="text" placeholder="name" name="username" id="username" />
          <input type="password" placeholder="password" name="password" id="password"/>
          <button type="submit">Crear</button>
          <p class="message">¿Ya registrado? <a href="/login">Abre tu cuenta</a></p>
        </form>
      </div>
    </div>
  </body>
</html>